html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  display: block;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: .5rem 0;
  font-size: 2rem;
  position: relative;
}

nav ul {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style-type: none;
  display: inline-block;
  width: 33.333%;
}

nav a {
  margin: 0;
  font-size: 1.125rem;
  border: 1px solid  #a63f38;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em 0;
  background-color: #d05c2e;
  width: 100%;
}

.left {
  position: absolute;
  left: 0;
  width: 40px;
  top: 10px;
}

.right {
  position: absolute;
  right: 0;
  width: 40px;
}

a:hover {
  background-color: #a63f38;
}
